pbr
enum34
eventlet
keystoneauth1
keystonemiddleware
greenlet
MySQL-python===1.2.5;python_version=='2.7'
pymysql
oslo.config
oslo.concurrency
oslo.db
oslo.log
oslo.messaging
oslo.middleware
oslo.policy
oslo.service
SQLAlchemy
sqlalchemy-migrate
webob
cryptography===2.8;python_version=='3.7'
